{% extends 'base.html.sticky_footer_navbar.twig' %}
{% block title %}Подвердите Ваш Email: {{ email }}{% endblock %}

{% block body %}
    <p>Подвердите Ваш email:</p>
    <h1>{{ email }}</h1>
    Проверьте пожалуйста Вашу почту. Почта local <a href="http://localhost:1080/" target="_blank">MailCatcher </a></p>
{% endblock %}